.campo-formulario {
    margin: 24px 0;
    
}

.campo-formulario label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    border: none;
    
}

.campo-formulario input {
    background-color: rgb(230, 222, 222);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    width: 90%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;
}

